Question 1 :

   (*)  =  Expression
   
   'hello' = Value
   
   -87.8  = Value 
   
   (-)  = Expression
   
   (/) = Expression
   
   (+) = Expression
   
   6  = Value

Question 2 :

Strings  =   Strings are a type of data which are simply a sequence of characters. For eg. "Mayank", "Two", '23'. The characters              can be anything from alphabetical characters or numbers.
             To declare a string we have to enclose the data inside a ' ', " ".
           
Variables =  Variables are basically something that holds a value or store imformation. String is a type of information that we              would store in a varibale. For eg. x = 10, y = 20

Question 3 :

Numeric Datatypes  = It basically represents the data which has a numerical value. The numerical value can be integar (positive                      or negetive whole numbers like 45, -76), Float (decimal numbers like 2.5, -7.6), Complex ( complex numbers                      like 3 + 5j)

Sequence Datatypes = These datatypes simply represents the ordered or unordered collection of data which are organized in an                          efficient way. Strings, List and Tuples are the types of sequennce datatypes.
                     
                    Strings = Strings are a type of data which are simply a sequence of characters. For eg. "Mayank", "Two",                                  '23'.The characters can be anything from alphabetical characters or numbers.
                     
                     list  =   A list is created by placing all the items (elements) inside square brackets [], separated by                                    commas.It can have any number of items and they may be of different types (integer, float, string                                etc.). Eg. [1,2,3,4,5,6,8]
                     
                     Tuples =  Just like list, tuple is also an ordered collection of Python objects. The only difference                                      between type and list is that tuples are immutable i.e. tuples cannot be modified after it is                                    created. It is represented by tuple class. Eg. (1,2,3,4,5)

Dictionary          = Unlike other datatypes, Dictionary holds the data in a Key:value pair. Each key-value pair in a Dictionary                       is separated by a colon :, whereas each key is separated by a ‘comma’.
                      For eg. { 'x':12, 'y' : 13}

Question 4 :

An expression is simply a representation of values, variables, operaters etc. If we type an expression in the command prompt the interpreter evaluates the expression and displays the result.
For eg. 1 + 1, 2 ** 3

Question 5 :

An expression is simply a representation of values, variables, operaters etc. It simply produces values and we can assign these values to new variables.Whereas, a statement performs some action such as printing values, looping, or if statement.
For example : 1 + 3 ** 2         (expression)
              print(1 + 3 ** 2)  (Statement)

In [4]:
## Question 6 :
### bacon = 22, bacon + 1 will evaluate to 23
bacon = 22
bacon + 1

23

In [6]:
## Question 7 :
### 'spam' + 'spamspam' = 'spamspamspam'
### 'spam' * 3  = 'spamspamspam'
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

Question 8 :

A variable name cannot start with a number. That is why 100 is invalid

Question 9 :

Integar   =   int()
Floating  =   float()
String    =   str()

In [12]:
## Question 10 :
## 'I have eaten' + 99 + 'burritos' causes an error. To fix this error we have to convert 99 to a string data type 
##  because during concatenation all elements should be of same data type

'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'